/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GRIDS */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');




body {
    font-family: 'Roboto', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 5px;
}

h1 {
	font-size: 40px;

}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}
.wrapper {
	max-width: 1320px;
    margin: 0 auto;
	display: block;
}

.em-row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.em-col-12, 
.em-col-6,
.em-col-4,
.em-col-3,
.em-col-1 {
    display: block;
}



.em-col-6,
.em-col-4,
.em-col-3  {
	margin: auto 1%; 

}

.em-col-12, 
.em-col {
    width: 100%;
}

.em-col-6 {
	width: 48%;
}

.em-col-4 {
	width: 23%;

	
}

.em-col-3 {
    width: 31.3%
}

.em-col-1 {
    width: 6.3%;
}


/* COL -SM >= 576px */


@media (min-width: 576px) { 
	.wrapper {
		width: 97%;
	}
 }



  @media (min-width: 1200px) { 
	  .wrapper {
		  width: 95%;
		  margin: 0 auto;

	  }

   }




@media only screen and (min-width: 576px ) and (max-width: 720px){

.em-col-sm-12, 
.em-col-sm-6,
.em-col-sm-4,
.em-col-sm-3,
.em-col-sm-1 {
    display: block;
}


.em-col-sm-6,
.em-col-sm-4,
.em-col-sm-3  {
	margin: auto 1%; 

}

.em-col-sm-12, 
.em-col-sm {
    width: 100%;
}

.em-col-sm-6 {
	width: 48%;
}

.em-col-sm-4 {
	width: 23%;
	
}

.em-col-sm-3 {
    width: 31.3%
}

.em-col-sm-1 {
    width: 6.3%;
}

}




/* COL -MD  */

@media only screen and (min-width: 720px ) and (max-width: 992px ) {


	.em-col-md-12, 
	.em-col-md-6,
	.em-col-md-4,
	.em-col-md-3,
	.em-col-md-1 {
		display: block;
	}
	
	
	
	.em-col-md-6,
	.em-col-md-4,
	.em-col-md-3  {
		margin: auto 1%; 
	
	}
	
	.em-col-md-12, 
	.em-col-md {
		width: 100%;
	}
	
	.em-col-md-6 {
		width: 48%;
	}
	
	.em-col-md-4 {
		width: 23%;
	
		
	}
	
	.em-col-md-3 {
		width: 31.3%
	}
	
	.em-col-md-1 {
		width: 6.3%;
	}

}

